.btnContainer{
    display: flex;
  justify-content: center;
}
.buttons {
    background-color: whitesmoke;
    color: red;
    border-radius: 4px;
    border: none;
    cursor: pointer;   
    margin-left: 16px; 
    box-shadow: 1px 1px 1px red;
   
    
}
.buttons:hover {
  background-color: rgb(50, 179, 205);
  transform: scale(1.05);
}
